<h3>Usuário</h3>
<form #formValidate="ngForm">
    <div class="form-row">
        <div class="form-group col-md-1">
            <label for="id">ID</label>
            <input type="number" id="id" name="id" [(ngModel)]="usuario.id" class="form-control" readonly="true" autocomplete="false">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="nome">Nome</label>
            <span style="color: red; font-weight: bold;" *ngIf="nomeValidate.invalid">*</span>
            <input type="text" id="nome" name="nome" [(ngModel)]="usuario.nome" #nomeValidate="ngModel" class="form-control" required="true" autocomplete="false">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="login">Login</label>
            <span style="color: red; font-weight: bold;" *ngIf="loginValidate.invalid">*</span>
            <input type="text" id="login" name="login" [(ngModel)]="usuario.login" #loginValidate="ngModel" class="form-control" required="true" autocomplete="false">
        </div>
        <div class="form-group col-md-6">
            <label for="senha">Senha</label>
            <span style="color: red; font-weight: bold;" *ngIf="senhaValidate.invalid">*</span>
            <input type="password" id="senha" name="senha" [(ngModel)]="usuario.senha" #senhaValidate="ngModel" class="form-control" required="true" autocomplete="false">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="cep">CEP</label>
            <span style="color: red; font-weight: bold;" *ngIf="cepValidate.invalid">*</span>
            <input type="text" id="cep" name="cep" [(ngModel)]="usuario.cep" #cepValidate="ngModel" class="form-control" required="true" autocomplete="false">
        </div>
    </div>

    <div class="card text-center">
        <div class="card-header">
            Telefone
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-10">
                    <label for="numero">Número</label>
                    <input type="text" id="numero" name="numero" [(ngModel)]="telefone.numero" class="form-control" mask="(00) 0000-0000">
                </div>
                <div class="form-group col-md-2">
                    <button class="btn btn-primary" (click)="adicionarTelefone()">Adicionar</button>
                </div>
            </div>
        </div>
    </div>

    <br>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Número</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let telefone of usuario.telefones">
                <td>{{telefone.id}}</td>
                <td>{{telefone.numero | mask: '(00) 0000-0000'}}</td>
                <td><button class="btn btn-danger" (click)="deletarTelefone(telefone)">Deletar</button></td>
            </tr>
        </tbody>
    </table>
    <br>

    <button class="btn btn-default mr-2" [routerLink]="['/usuarios']" routerLinkActive="router-link-active">Voltar</button>
    <button class="btn btn-primary mr-2" (click)="novo()">Novo</button>
    <button class="btn btn-success" (click)="salvar()" [disabled]="formValidate.invalid">Salvar</button>
</form>