<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Login</th>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let usuario of usuarios">
            <td>{{usuario.id}}</td>
            <td>{{usuario.login}}</td>
            <td>{{usuario.nome}}</td>
            <td>
                <button class="btn btn-danger" (click)="deletar(usuario.id)">Deletar</button>
            </td>
        </tr>
    </tbody>
</table>